

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: url("https://home-project-bjo.s3.us-east-2.amazonaws.com/6gR78xaiEj4mgmmHSUuUqYEM");

  /* Set a specific height */
  height: 300px;
  width: 100%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}